<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/99af3053-16b5-44cf-bd91-62ae1cc0c3ec/resourceGroups/DefaultResourceGroup-SEA/providers/Microsoft.Web/sites/ServerCaro20231029231204</ResourceId>
    <ResourceGroup>DefaultResourceGroup-SEA</ResourceGroup>
    <ApiResourceId>/subscriptions/99af3053-16b5-44cf-bd91-62ae1cc0c3ec/resourceGroups/DefaultResourceGroup-SEA/providers/Microsoft.ApiManagement/service/ServerCaroapi/apis/ServerCaro</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://servercaro20231029231204.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>cf78b24d-d56f-4da9-87fe-89c2f515a801</ProjectGuid>
    <PublishUrl>https://servercaro20231029231204.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ServerCaro20231029231204</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>